<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>you can run but you cannot hide</title>
</head>
<style>
body {
    font-family: Helvetica, sans-serif;
}
</style>
<body>
    <div style='width: 500px; margin: 0 auto;'>
        <img width='500px' src='https://upload.wikimedia.org/wikipedia/ru/thumb/7/78/Trollface.svg/1280px-Trollface.svg.png' />
    </div>
</body>
</html>
